    <header>
        <h1><a href="/">DigiDex</a></h1>
        <div class="menuMobileArea" onclick="menuMobile()">
            <div class="menuMobile"></div>
        </div>
        <div class="links">
            <a href="/fresh"><p>Fresh</p></a>
            <a href="/inTraining"><p>In Training</p></a>
            <a href="/Training"><p>Training</p></a>
            <a href="/Rookie"><p>Rookie</p></a>
            <a href="/Champion"><p>Champion</p></a>
            <a href="/Ultimate"><p>Ultimate</p></a>
            <a href="/Mega"><p>Mega</p></a>
            <a href="/Favoritos"><p>Favoritos</p></a>
        </div>
    </header>